texto {
    color: red;
    border: red;
}

.search-container {
    background: goldenrod;   
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle; 
    position: relative;
    /* bottom: .08em; this is a better value for different fonts! */
  }